.github/

# Java
*.class

# IntelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Eclipse
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# VS Code
.vscode/
.code-workspace

# System files
.DS_Store
Thumbs.db

